#about {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8) , rgba(82, 145, 239, 0.8) );
  padding: 80px 20px;
}

.about-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

@media (min-width: 768px) {
  .about-grid {
    flex-direction: row;
    justify-content: space-between;
  }
}

.about-text {
  flex: 1;
  max-width: 100%;
}

.about-heading {
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
  font-weight: bold;
  color: rgb(1, 14, 68);
  margin-bottom: 12px;
}

.about-subheading {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 24px;
  color: rgb(1, 19, 68);
  opacity: 0.8;
}

.about-description {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.7;
  color: rgb(1, 10, 68);
  opacity: 0.5;
  margin-bottom: 30px;
}

.focus-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  color: rgb(1, 13, 68);
  margin-bottom: 16px;
}


.focus-blocks {
  display: flex;
  gap: 18px;
  margin-top: 18px;
  flex-wrap: wrap;
}


.focus-block {
  font-family: Roboto;
  font-weight: 500;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(53, 88, 203, 0.5);
  padding: 18px 28px;
  font-size: 17px;
  color: rgb(1, 8, 68);
  opacity: 0.8;
  min-width: 220px;
  text-align: center;
  transition: box-shadow 0.2s, transform 0.2s;
  cursor: pointer;
  margin-bottom: 0;
  overflow: hidden;
}

.focus-block .focus-desc {
  font-family: Roboto;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  font-size: 15px;
  color:rgb(1, 8, 68);
  font-weight: 400;
  margin-top: 14px;
  text-align: left;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 0 10px;
}

.focus-block.expanded .focus-desc {
  max-height: 120px;
  opacity: 0.6;
  padding: 12px 10px;
}

.focus-block:hover {
  box-shadow: 0 4px 18px rgba(53, 125, 203, 0.6);
  transform: translateY(-4px) scale(1.03);
  background: rgb(255, 255, 255);
}


.about-image {
  flex: 1;
  max-width: 30%;
}

.about-image img {
  width: 100%;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(53, 85, 203, 0.1);
}

