.cta-banner {
  background: linear-gradient(to bottom, rgb(255, 255, 255) , rgb(117, 177, 255)  );
  padding: 60px 20px;
  text-align: center;
  color: rgb(0, 15, 98);
  border-radius: 16px;
  margin: 60px 20px;
}

.cta-content {
  max-width: 800px;
  margin: 0 auto;
}

.cta-title {
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}

.cta-subtitle {
  font-family: Roboto;
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 24px;
}

.cta-buttons {
  font-family: Roboto;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.cta-buttons .btn-primary,
.cta-buttons .btn-secondary {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  font-weight: 500;
  transition: 0.3s ease;
  text-decoration: none;
}

.cta-buttons .btn-primary {
  background: white;
  color: rgb(0, 13, 98);
  border: none;
}

.cta-buttons .btn-primary:hover {
  background:  rgb(0, 15, 98);
  color: rgb(100, 141, 255);
}

.cta-buttons .btn-secondary {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.cta-buttons .btn-secondary:hover {
  background: white;
  color: rgb(0, 5, 98);
}
