.services-section {
  padding: 60px 20px;
  background: radial-gradient(rgba(92, 179, 255, 0.946) , rgba(255, 255, 255, 0.801));
}

.section-title {
  font-family: "Libre Baskerville", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 32px;          
  margin-bottom: 40px;
}

.services-grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 100%;
  margin: 0 auto;
}

.service-card {
  background: linear-gradient( to bottom right, rgba(102, 163, 255, 0.5), rgb(252, 252, 251));
  border: none;
  border-radius: 16px;
  padding: 24px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(1, 12, 68, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 20px rgba(0,0,0,0.08);
}

.service-icon {
  font-size: 60px;         
  margin-bottom: 16px;
}

.service-title {
  font-family: "Libre Baskerville", serif;
  font-size: 28px;          
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(1, 17, 68);
}

.service-desc {
  font-family: Roboto;
  font-size: 13px;         
  color: rgb(1, 13, 68);
  opacity: 0.6;
  margin-bottom: 20px;
}

.service-actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-primary {
  font-family: Roboto;
  background-color: rgb(1, 14, 68);
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
}

.btn-primary:hover {
  background-color:rgb(255, 255, 255);
  color: rgb(1, 13, 68);
}

.btn-secondary {
  font-family: Roboto;
  background-color: transparent;
  color: rgb(1, 22, 68);
  font-size: 15px;
  padding: 10px 16px;
  border: 1px solid rgba(1, 9, 68, 0.6);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: rgb(1, 7, 68);
  color:rgb(255, 255, 255);
}
