html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.header {
  position: sticky;
  top: 0;
  background-color: rgba(1, 68, 33,0.8);
  border-bottom: 0.5px solid rgb(1, 68, 33);
  z-index: 1000;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.logo {
  font-family: Roboto;
  font-weight: 600;
  font-size: 24px;
  font-weight: 400;
  color: rgb(249, 246, 240);
  letter-spacing: 1px;
}

.nav a {
  font-family: Roboto;
  font-weight: 400;
  margin: 0 12px;
  color: rgb(249, 246, 240);
  text-decoration: none;
}

.nav a:hover {
  color: rgb(1, 68, 33);
  background-color: rgb(249, 246, 240);
  padding: 4px 8px;
  border-radius: 100px;
  border: none;
}

.header-buttons {
  display: flex;
  gap: 10px;
}


.btn-primary-head {
  background-color: rgb(249, 246, 240);
  opacity: 0.8;
  color: rgb(1, 68, 33);
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.btn-primary-head:hover {
  background-color: rgb(1, 68, 33);
  color: rgb(249, 246, 240);
}

.btn-secondary-head {
  background-color: rgb(1, 68, 33);
  opacity: 0.6;
  color: rgb(249, 246, 240);
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;
}

.btn-secondary-head:hover {
  background-color: rgb(249, 246, 240) ;
  color: rgb(1, 68, 33);
}


.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    font-size: 32px;
    color: rgb(1, 68, 33);
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 12px;
  }
  .nav {
    display: none;
  }
  .nav.active {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100vw;
    background: rgba(255, 212, 102, 0.5) ;
    box-shadow: 0 4px 24px rgba(1, 68, 33, 0.10);
    padding: 24px 0;
    text-align: center;
  }
  .nav a {
    display: block;
    margin: 16px 0;
    font-size: 20px;
  }
}


.hero {
    text-align: left;
    padding: 100px 0 60px 0;
    background:
    linear-gradient(to right, rgba(1, 68, 33, 0.851) 20%, rgba(203, 161, 53, 0.25)),
    url('https://images.pexels.com/photos/8550655/pexels-photo-8550655.jpeg?_gl=1*ir35z2*_ga*OTIxNjI1ODM2LjE3NTE1NDQwNDI.*_ga_8JE65Q40S6*czE3NTI3MzAzMzUkbzIkZzAkdDE3NTI3MzAzMzUkajYwJGwwJGgw') center/cover no-repeat;
    min-height: 600px;
    position: relative;
}

.hero-title {
  font-size: 68px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  color: rgb(249, 246, 240);
  line-height: 1.05;
  letter-spacing: 1px;
  margin-bottom: 32px;
  max-width: 700px;
}


.hero-buttons {
  display: flex;
  justify-content: left;
  gap: 16px;
}





.modal {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: rgba(0,0,0,0.35);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: rgb(255, 255, 255);
  margin: auto;
  padding: 32px 24px;
  border-radius: 12px;
  max-width: 350px;
  box-shadow: 0 8px 32px rgba(37,99,235,0.18);
  position: relative;
  text-align: center;
}

.close-modal {
  position: absolute;
  top: 12px;
  right: 18px;
  font-size: 24px;
  cursor: pointer;
  color: rgb(37, 99, 235);
}

