.testimonials-section {
  padding: 60px 20px;
  background: linear-gradient(to right, rgba(1, 68, 33, 0.9),rgba(1, 68, 33, 0.6));
  text-align: center;
}

.section-title {
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
  color: rgb(203, 161, 53);
  margin-bottom: 40px;
}

.testimonial-subtitle{
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
  color: rgba(249, 246, 240, 0.6);
  margin-bottom: 20px;
}

.testimonial-carousel {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

.testimonial-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.testimonial-card {
  min-width: 100%;
  box-sizing: border-box;
  padding: 30px;
  background: linear-gradient( to bottom right, rgba(255, 212, 102, 0.5), rgba(249, 246, 240, 0.5));
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.05);
}

.stars {
  font-size: 20px;
  color: rgb(250, 204, 21,); 
  margin-bottom: 10px;
  z-index: 1;
}

.testimonial-text {
  font-size: 16px;
  color: rgb(249, 246, 240);
  font-style: italic;
  margin-bottom: 15px;
}

.testimonial-author {
  font-size: 14px;
  font-weight: 500;
  color: rgba(1, 68, 33,0.7);
}

.testimonial-nav {
  margin-top: 20px;
}

.nav-btn {
  background: rgb(1, 68, 33);
  color: rgb(249, 246, 240);
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.15s, color 0.15s;
}

.nav-btn:hover {
  background: rgb(0, 5, 20);
  color: rgb(203, 161, 53);
}

.nav-btn:active{
  background: rgb(249, 246, 240);
  color: rgb(1, 68, 33);
}
